*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.toDo__headers-name{
    justify-content:space-around;
    border: solid 1px rgba(0,0,0, 0.5);
    padding: 1vw;
    background-color: rgba(230, 189, 24, 0.57);
    width: 100vw;
}

.item__data--big{
    width: 40%;
    padding: 1vw;
    border-left: solid 1px rgba(0,0,0, 0.5);
    border-right: solid 1px rgba(0,0,0, 0.5);
    text-align: center;
}
.item__data{
    width: 15%;
    padding: 1vw;
    border-left: solid 1px rgba(0,0,0, 0.5);
    border-right: solid 1px rgba(0,0,0, 0.5);
    text-align: center;
}

.data__icon{
    margin: 0 2vw;
}